---
import ArticleAuthor from "components/ArticleAuthor.astro";
import Layout from "layouts/Layout.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import Categories from "components/Categories.astro";
import TableOfContents from "components/TableOfContents.astro";
import MarkdocStyled from "components/MarkdocStyled.astro";

export async function getStaticPaths() {
  return await getCollection("blog")
    .then((posts) =>
      posts.map((post) => ({
        params: {
          year: post.data.publishDate.getFullYear().toString(),
          month: (post.data.publishDate.getMonth() + 1)
            .toString()
            .padStart(2, "0"),
          slug: post.id,
        },
        props: post,
      }))
    )
    .then((paths) =>
      paths.sort((a, b) => a.params.year.localeCompare(b.params.year))
    );
}

const post = Astro.props;

const { Content } = await render(post);
---

<Layout title={Astro.props.data.title}>
  <main class="mx-auto px-4 py-8 md:w-xl">
    <article class="mx-auto">
      <header>
        <div class="flex items-end justify-between py-1">
          <p class="flex text-sm">
            <Categories categories={post.data.categories} />
          </p>
          <ArticleAuthor authorId={Astro.props.data.author} />
        </div>
        <h1 class="pt-6 pb-2 text-justify text-5xl font-bold text-pretty">
          {Astro.props.data.title}
        </h1>
        <p class="text-muted-foreground mb-2 text-right text-sm">
          {
            Astro.props.data.publishDate.toLocaleDateString("en-US", {
              month: "short",
              day: "numeric",
              year: "numeric",
            })
          }
        </p>
        <img src={post.data.hero} loading="lazy" alt="" class="rounded-xl" />
      </header>
      <TableOfContents />
      <section class="markdoc text-justify text-pretty">
        <MarkdocStyled>
          <Content />
        </MarkdocStyled>
      </section>
      <footer class="mt-8"></footer>
    </article>
  </main>
</Layout>
