---
import MarkdocStyled from "components/MarkdocStyled.astro";
import Datetime from "components/Datetime.astro";
import CommonHead from "components/CommonHead.astro";
import Breadcrumbs from "components/Breadcrumbs.astro";
import Container from "components/Container.astro";
import { availableGallery, SlugUtils } from "lib/utils";
import { Picture } from "astro:assets";
import CommonFooter from "components/CommonFooter.astro";

export function getStaticPaths() {
  return availableGallery.map((picture) => ({
    params: {
      year: SlugUtils.yearSlug(picture.data.publishDate),
      month: SlugUtils.monthSlug(picture.data.publishDate),
      slug: picture.id,
    },
    props: picture,
  }));
}

const { data } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <CommonHead title={`Piotr Sochacz - ${data.title}`} image={data.picture} />
  </head>

  <body class="bg-secondary">
    <Container>
      <header>
        <Breadcrumbs />
      </header>
      <main>
        <article class="mx-auto py-4">
          <header class="my-2">
            <h1 class="pt-6 pb-2 font-serif text-5xl font-bold text-pretty">
              {data.title}
            </h1>
            <div class="my-3 flex">
              <Datetime date={data.publishDate} class="grow text-right">
                <Fragment slot="before">Published:</Fragment>
              </Datetime>
            </div>
            <div class="relative">
              <a
                href={data.picture.src}
                class="absolute inset-0"
                target="_blank"></a>
              <Picture
                src={data.picture}
                alt={data.description}
                formats={["avif", "webp", "png", "jpeg", "jpg"]}
                class="my-3"
                loading="lazy"
                widths={[360, 410, 768, 1280, 2560]}
              />
            </div>
          </header>
          <section>
            <MarkdocStyled>
              {data.description}
            </MarkdocStyled>
          </section>
        </article>
      </main>
    </Container>
    <CommonFooter />
  </body>
</html>
