---
import CommonHead from "components/CommonHead.astro";
import Breadcrumbs from "components/Breadcrumbs.astro";
import Container from "components/Container.astro";
import PicturePreview from "components/PicturePreview.astro";

import { availableGallery, SlugUtils } from "lib/utils";

export async function getStaticPaths() {
  return availableGallery.map((picture) => ({
    params: {
      year: SlugUtils.yearSlug(picture.data.publishDate),
      month: SlugUtils.monthSlug(picture.data.publishDate),
    },
    props: picture,
  }));
}

const pictures = availableGallery.filter(
  ({ data }) =>
    SlugUtils.yearSlug(data.publishDate) ===
      SlugUtils.yearSlug(Astro.props.data.publishDate) &&
    SlugUtils.monthSlug(data.publishDate) ===
      SlugUtils.monthSlug(Astro.props.data.publishDate),
);
---

<!doctype html>
<html lang="en">
  <head>
    <CommonHead title="Piotr Sochacz - Gallery" />
  </head>
  <body class="bg-secondary">
    <Container>
      <header>
        <Breadcrumbs />
      </header>
      <main>
        <article class="mx-auto py-4">
          <header class="my-2">
            <h1 class="pt-6 pb-2 font-serif text-5xl font-bold text-pretty">
              {
                Astro.props.data.publishDate.toLocaleDateString("en-GB", {
                  month: "short",
                  year: "numeric",
                })
              }
            </h1>
          </header>
        </article>
        <section>
          <div class="py-24 sm:py-40">
            <div class="mx-auto flex flex-col gap-y-24 md:w-2xl lg:w-4xl">
              <div
                class="mx-auto flex max-w-2xl grid-cols-2 flex-col gap-2 gap-y-12 lg:mx-0 lg:max-w-none"
              >
                {
                  pictures.map(({ data, id }) => (
                    <PicturePreview
                      picture={data.picture}
                      publishDate={data.publishDate}
                      description={data.description}
                      title={data.title}
                      slug={id}
                    />
                  ))
                }
              </div>
            </div>
          </div>
        </section>
      </main>
    </Container>
  </body>
</html>
