---
import type { ReferenceDataEntry } from "astro:content";
import ArticleAuthor from "components/ArticleAuthor.astro";
import Categories from "components/Categories.astro";

interface Props {
  authorId: string;
  categories: ReferenceDataEntry<"categories", string>[];
  publishDate: string;
  year: string;
  month: string;
  slug: string;
  title: string;
  description: string;
}

const { authorId, publishDate, description, title, year, month, slug } =
  Astro.props;
---

<article>
  <div class="group relative">
    <h3 class="text-justify text-lg/6 font-semibold text-pretty">
      <a href={`${year}/${month}/${slug}`}>
        <span class="absolute inset-0"></span>
        {title}
      </a>
    </h3>
    <p
      class="text-secondary-foreground mt-2 line-clamp-3 text-justify text-base/6 text-pretty"
    >
      {description}
    </p>
  </div>
  <div class="flex">
    <Categories categories={Astro.props.categories} />
  </div>
  <div class="space mt-3 flex content-between items-center justify-between">
    <ArticleAuthor authorId={authorId} />
    <time datetime="2020-03-16" class="text-muted-foreground text-sm">
      {publishDate}
    </time>
  </div>
</article>
